<footer>
  <div class="footer main-width">
    <div class="footer__info">
      <div class="footer__logo">
         <a href="">حكومة لبنان الرسمية</a>
         <a href=""><img src="images/logo.png"></a>
      </div>
      <a href="" class="footer__link">حكومة لبنان الرسمية  </a>
      <a href="" class="footer__link">بدقة وشفافية.</a>
    </div>
    <div class="footer__nav">
      <ul>
        <li><a href="">الخدمات الإلكترونية</a></li>
        <li><a href="">الدعم المالي والعائلي</a></li>
        <li><a href="">الاستعلام عن الوثائق</a></li>
      </ul>
      <ul>
        <li><a href="">تقديم شكاوى
ومقترحات</a></li>
        <li><a href="">تحديثات
الحكومة</a></li>
        <li><a href="">الوظائف
الحكومية</a></li>
      </ul>
      <ul>
        <li><a href="">صفحة الطوارئ</a></li>
        <li><a href="">أسعار المواد
الغذائية</a></li>
        <li><a href="">الكهرباء
والمولدات</a></li>
        <li><a href="">الأدوية والدعم
الصحي</a></li>
        <li><a href="">المساعدات
الدولية</a></li>
         <li><a href="">برنامج الدعم
الاجتماعي</a></li>
      </ul>
    </div>
  </div>
</footer>