<header>
    <div class="header main-width">
        <div class="header__logo">
            <a href="">حكومة لبنان الرسمية</a>
            <a href=""><img src="images/logo.png"></a>
        </div>
        <div class="header__nav">
            <nav class="nav nav--1">
                <ul>
                    <li><a href="" target="_blank">آخر الأخبار</a></li>
                     <li><a href="" target="_blank">الإصلاحات الاقتصادية</a></li>
                </ul>
            </nav>
             <nav class="nav nav--2">
                <ul>
                    <li><a href="" target="_blank">٢٠٢٥</a></li>
                     <li><a href="" target="_blank">الحكومة الجديدة</a></li>
                </ul>
            </nav>
            <a href="" class="btn btn--1"><span><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
  <path d="M10.625 13.4583L9.61558 12.4667L12.8739 9.20833H1.41663V7.79166H12.8739L9.63329 4.53333L10.625 3.54166L15.5833 8.5L10.625 13.4583Z" fill="#141414"/>
</svg></span>اتصل بنا</a>
        </div>
        <a class="header__open">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <rect x="10" y="14" width="20" height="2" fill="#141414"/>
                <rect x="10" y="24" width="20" height="2" fill="#141414"/>
            </svg>
        </a>
        <a class="header__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <line x1="10" y1="10" x2="30" y2="30" stroke="#141414" stroke-width="2" stroke-linecap="round"/>
            <line x1="30" y1="10" x2="10" y2="30" stroke="#141414" stroke-width="2" stroke-linecap="round"/>
            </svg>

        </a>
    </div>
</header>